.projectTabContainer {
  position: relative;
  text-align: center;
  display: flex;
  height: 27vw;
  width: 21vw;
  bottom: 3vw;
  margin-right: 3vw;
}

.projectImage {
  margin: 10px;
  width: 100%;
  border-radius: 15px;
}

.projectText {
  position: absolute;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  bottom: 1.5vw;
  left: 1.7vw;
  font-size: 1.2vw;
  font-weight: bold;
}

/* Hover Content */
.hoverContent { 
  position: absolute; display: block; bottom: .5vw; left: .5vw; opacity: 0; transition: all .2s ease-in-out;
  background-color: rgba(164,164,164,.7);  width: 95%;
  height: 28%;
  border-radius: 0px 0px 15px 15px;
}

.projectTabContainer:hover .projectText{
  filter: blur(8px);
}

.projectTabContainer:hover .hoverContent {
  opacity: 1;
}

.hoverTitle {
  position: absolute;
  left: 1.9vw;
  bottom: 4.5vw;
  font-size: .98vw;
}

.hoverText {
  position: relative;
  top: 1.4vw;
  left: 1.1vw;
  width: 90%;
  font-size: .82vw;
}

.hoverLinkButton {
  border: 0px;
  border-radius: 4px; 
  padding: .2vw .7vw;
  position: relative;
  bottom: -1.2vw;
  font-size: .7vw;
}

