.navbarImage {
  background-color: #191919;
  max-width: 1.5em;
  float: right;
  padding: 1em;
  margin-right: 3em;
}

.menuItems {
  padding: 3.5em 0em;
}

a {
  color: white
}

a:link { 
  text-decoration: none; 
}
