.titleContainer {
  position: absolute;
  left: 5em;
  padding-top: 2em;
  display: flex;
  font-size: 4em;
  /* outline: solid; */
}

.Hello {
  color: #A9A9A9;
  margin-right: .3em;
}

.Nahor {
  color: #FDFD96;
  margin-right: 7em;
}

.picture {
  width: 250px;
  height: 250px;
  border-radius: 1000px;
  outline: solid
}

.developer {
  color: #A9A9A9;
  position: absolute;
  left: 13.5em;
  padding-top: 12em;
  font-size: 1.5em;
}